<h1>Dodaj ofertę</h1>
<form>
  <p>
   <label for="name">Nazwa oferty:</label>
   <input name="name" ng-model="ofert.name"  placeholder="Wpisz nazwę" />
   </p>
   <p>
   <label for="price">Cena:</label>
   <input name="price" ng-model="ofert.price"  placeholder="Podaj cenę" />
   </p>
   <p>
   <label for="link">Link:</label>
   <input name="link" ng-model="ofert.link"  placeholder="Podaj link do oferty" />
   </p>
   <p>
   <label for="status">Stan produktu:</label>
   <input name="status" ng-model="ofert.status"  placeholder="Bd" />
   </p>
   <button>Zapisz</button>
   {{ofert}}
 </form>
